USE [master]
GO
/****** Object:  Database [AU]    Script Date: 11/27/2022 9:38:25 PM ******/
CREATE DATABASE [AU]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AU', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\AU.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AU_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\AU_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AU].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AU]
GO
/****** Object:  User [nulc]    Script Date: 11/27/2022 9:38:25 PM ******/
CREATE USER [nulc] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [Darker]    Script Date: 11/27/2022 9:38:25 PM ******/
CREATE USER [Darker] FOR LOGIN [Darker] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 11/27/2022 9:38:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[UserID] [int] IDENTITY(0,1) NOT NULL,
	[Names] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[figure] [varchar](50) NOT NULL,
	[hash] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [AccountUN] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[public_key]    Script Date: 11/27/2022 9:38:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[public_key](
	[email] [varchar](50) NOT NULL,
	[pubkey] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tx_Select]    Script Date: 11/27/2022 9:38:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tx_Select](
	[OwnerEmail] [varchar](50) NOT NULL,
	[SelectEmail] [varchar](50) NOT NULL,
	[Time_in] [varchar](50) NOT NULL,
	[Time_out] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OwnerEmail] ASC,
	[SelectEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tx_Squence]    Script Date: 11/27/2022 9:38:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tx_Squence](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Times] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[public_key]  WITH CHECK ADD FOREIGN KEY([email])
REFERENCES [dbo].[Account] ([Email])
GO
ALTER TABLE [dbo].[Tx_Select]  WITH CHECK ADD FOREIGN KEY([OwnerEmail])
REFERENCES [dbo].[Account] ([Email])
GO
ALTER TABLE [dbo].[Tx_Select]  WITH CHECK ADD FOREIGN KEY([SelectEmail])
REFERENCES [dbo].[Account] ([Email])
GO
ALTER TABLE [dbo].[Tx_Squence]  WITH CHECK ADD FOREIGN KEY([Email])
REFERENCES [dbo].[Account] ([Email])
GO
USE [master]
GO
