<!DOCTYPE html>
<html>

<head>
	<title>簽章與JsonDataHex驗證</title>
</head>

<body>
	<!--<input type="file" name="inputfile"
			id="inputfile">
	<br>
-->
	<pre id="output"></pre>
	
	
	<h1>簽章與JsonDataHex驗證</h1>
        <form method="POST" enctype="multipart/form-data" action="http://127.0.0.1:11000/verify">
			
            <label for="publickey">publickey</label>
			<input accept=".cer,.pem,.der" id="publickey" name="publickey" type="file">
			<!--<input type="text" name="publickey" id="publickey" value="value"></input>-->
            <label for="signature">簽章</label>
            <input type="text" name="signature" id="signature"></input>
            <label for="json">JsonDataHex</label>
            <input type="text" name="json" id="json"></input>
            <input type="submit" value="Submit"></input> 
        </form>
		
		
</body>
	

</html>


<!-- http://127.0.0.1:11000/verify -->
<!-- http://218.161.4.208:11000/verify -->
