.App {
  height: 1200px;
  width: 100%;
  text-align: center;
  background: rgba(150, 150, 150, 0.2);
}

.space {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.header{
  text-align: center;
}

.choose{
  text-align: center;
  font-size: 120%;
}
.site-card-wrapper{
  text-align: center;
  padding : 30px;
 
}